body {
    margin: 0 8px;
}

.tar {
    font-size: 20px;
    text-align: center;
}

.title {
    height: 5rem;
    width: 100%;
    background-color: aquamarine;

}

.section {
    height: 60rem;
    background-color: beige;
}
.section2 {
    height: 10rem;
    background-color: #a0c1ed;
}
.content {
    height: 100rem;
    background-color: azure;
}

.footer {
    height: 5rem;
    background-color: aquamarine;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0.5rem;
}